// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'Graphik', 'SF Pro Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif


// Color
$color-black = #06080A
$color-white = white
