// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'Graphik', 'SF Pro Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif


// Color
$color-body = #fff
$color-black = #06080A
$color-brand = #FF6600
$color-accent = #0044ff
$color-mid = #F5F6F7
$color-header = #18191A
$color-white = white
$color-error = #D0011B


$size-1 = 2.5rem
$size-2 = 2rem
$size-3 = 1.75rem
$size-4 = 1.375rem
$size-5 = 1rem
$size-6 = 0.75rem

// Animation
$duration-blueprint = 5s
