doctype

html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		include /assets/favicon/_favicon.jade
		link(href='/main.css', rel='stylesheet')

	body
		!= yield
		script(src='data.js')
		script(src='main.js')
