include _components/index

+Randomizer({
	id: 'desenvolva',
	label:'Desenvolva',
	collection: 'desenvolva'
})

+Randomizer({
	id: 'inspirado',
	label:'Inspirado por',
	collection: 'inspirado'
})

+Randomizer({
	id: 'seja',
	label:'Que seja',
	collection: 'seja'
})

+Randomizer({
	id: 'meio',
	label:'Por meio de',
	collection: 'meio'
})

+Randomizer({
	id: 'utilizando',
	label:'Utilizando',
	collection: 'utilizando'
})
