@import "/_mixins"
@import "/_components"
@import "/assets/fonts/_index"

@media only screen
	body, html
		color: $color-white
		background-color: $color-black

body
	font-size: 16px
	box-sizing: border-box
	font-family: $font-sans
	font-size: $font-size
	line-height: $line-height
	font-weight: 300
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smooth: antialised
	font-smoothing: antialised
	text-rendering: optimizeLegibility
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 1, "onum" 0, "lnum" 1, "dlig" 1, "zero" 1
	hyphens: auto
	font-size: 1.25rem
	line-height: 2rem

::selection
	background: white
	color: alpha($color-black, 0.66)

main
	margin-top: 4rem
	margin-bottom: 4rem

.container
	margin-left: auto
	margin-right: auto
	display: block
	width: 100%
	max-width: 72.5rem
	padding: 0 1rem
