@keyframes Navbar-loading {to{transform: translateY(-15.0em)}}

.Navbar
	background: $color-white
	color: $color-black
	font-weight: 500;
	width: 100%
	padding-top: 0.5rem
	padding-bottom: 0.5rem
	line-height: 1.5rem
	min-height: 40px
	& > .container
		display: flex
		align-items center
		justify-content space-between
		flex-wrap: wrap
	&-link, &-state
		color $color-black
		text-decoration none
	&-title
		color: currentColor
		font-size: 0.875rem
		text-transform: uppercase;
	&-triangle
		font-size: 0.875rem
		font-weight: 900
	&-state
		display: none
		font-family: 'SF Mono', 'Menlo', monospace
		font-size: 0.75rem
		padding: 0px 0.4rem
		line-height: 1.5rem
		background: #ddd
		border-radius: 2px
		&[href]
			display block
			& + .Navbar-loading
				display none
	&-loading
		user-select: none
		display: inline-block
		overflow: hidden
		height: 1.5rem
		vertical-align: text-bottom
		box-sizing: border-box
		text-rendering: geometricPrecision
		font-size: .75rem
		padding: 0 .4rem
		line-height: 1.5em
		background: #ddd
		border-radius: 2px
		padding-top: 0.2rem
		&:after
			font-family: 'SF Mono', 'Menlo', monospace
			display: inline-table
			white-space: pre
			text-align: left
			content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏"
			animation: Navbar-loading 1s steps(10) infinite
