.Navbar
	background: $color-white
	color: $color-black
	font-weight: 500;
	width: 100%
	display: flex;
	padding-top: 1rem
	padding-bottom: 1rem
	line-height: 1rem
	&-title
		color: currentColor
		font-size: 0.875rem
		text-transform: uppercase;
	&-triangle
		font-size: 0.875rem
		font-weight: 900
