@font-face {
		font-family: 'Graphik';
		src: url('/assets/fonts/graphik/Graphik-Light.eot');
		src: url('/assets/fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/graphik/Graphik-Light.woff2') format('woff2'),
				url('/assets/fonts/graphik/Graphik-Light.woff') format('woff'),
				url('/assets/fonts/graphik/Graphik-Light.ttf') format('truetype'),
				url('/assets/fonts/graphik/Graphik-Light.svg#Graphik-Light') format('svg');
		font-weight: 300;
		font-style: normal;
}

@font-face {
		font-family: 'Graphik';
		src: url('/assets/fonts/graphik/Graphik-Regular.eot');
		src: url('/assets/fonts/graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/graphik/Graphik-Regular.woff2') format('woff2'),
				url('/assets/fonts/graphik/Graphik-Regular.woff') format('woff'),
				url('/assets/fonts/graphik/Graphik-Regular.ttf') format('truetype'),
				url('/assets/fonts/graphik/Graphik-Regular.svg#Graphik-Regular') format('svg');
		font-weight: 400;
		font-style: normal;
}

@font-face {
		font-family: 'Graphik';
		src: url('/assets/fonts/graphik/Graphik-Medium.eot');
		src: url('/assets/fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
				url('/assets/fonts/graphik/Graphik-Medium.woff2') format('woff2'),
				url('/assets/fonts/graphik/Graphik-Medium.woff') format('woff'),
				url('/assets/fonts/graphik/Graphik-Medium.ttf') format('truetype'),
				url('/assets/fonts/graphik/Graphik-Medium.svg#Graphik-Medium') format('svg');
		font-weight: 500;
		font-style: normal;
}
